* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#000;
}

#navigation {
	text-align: center;
	padding: 20px;
	width: 280px;
	height: 280px;
	color: #fff;
}

.text {
	color: #ccc;
	font-size: 40px;
	padding-top: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 90px;
}

.distance {
	padding-bottom: 15px;
	font-size: 36px;
}

.underline {
	border-bottom: 1px dashed #ccc;
	padding-bottom: 9px
}

.direction {
	width: 116px;
	padding-bottom: 12px;
}